#setting-modal {
  width: 65%;
  height: 90%;

  label {
    font-size: 1rem;
    color: blue;
  }
}

@media only screen and (max-width: 500px) {
  #setting-modal {
    width: 90%;
    height: 90%;
  }
}
