.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* .green-highlight {
  text-shadow: 3px 0px 3px green, -3px 0px 3px green, 6px 0px 6px green,
    -6px 0px 6px green;
}

.red-highlight {
  text-shadow: 3px 0px 3px red, -3px 0px 3px red, 6px 0px 6px red,
    -6px 0px 6px red;
}

.yellow-highlight {
  text-shadow: -3px 0px 3px yellow, 3px 0px 3px yellow, 6px 0px 6px yellow,
    -6px 0px 6px yellow;
} */

.green-highlight,
.pink-highlight,
.yellow-highlight {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  padding-left: 3px;
}

.green-highlight {
  background: #99ffcc; /* Default color, all browsers */
}

.green-highlight::selection {
  background: #99cccc; /* Selection color, WebKit/Blink Browsers */
}

.green-highlight::-moz-selection {
  background: #99cccc; /* Selection color, Gecko Browsers */
}

.pink-highlight {
  background: #ffccff; /* Default color, all browsers */
}

.pink-highlight::selection {
  background: #ff99ff; /* Selection color, WebKit/Blink Browsers */
}

.pink-highlight::-moz-selection {
  background: #ff99ff; /* Selection color, Gecko Browsers */
}

.yellow-highlight {
  background: #ffffcc; /* Default color, all browsers */
}

.yellow-highlight::selection {
  background: #ffff66; /* Selection color, WebKit/Blink Browsers */
}

.yellow-highlight::-moz-selection {
  background: #ffff66; /* Selection color, Gecko Browsers */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
